<% include ./partials/head %>
<header>
  <% include ./partials/navbar %>
</header>
  <div class="container">
    <h1 class='center'><%= friend.friend_name %></h1>
    <p><%= friend.friend_note %></p>

    <% var url = '/friends/' + friend.id %>
    <form action=<%= url + '?_method=DELETE' %> method="POST">
      <button class="btn">Delete</button>
    </form>
    <div class="section"></div>
    <button class="btn" id="edit_button">Edit</button>
    <form id='edit' class="hide" action=<%= url + '?_method=PUT' %> method="POST">
      <input id="friend_name" type='text' name='friend_name' value=<%= friend.friend_name %> />
      <input id="friend_note" type='text' name='friend_note' value="<%= friend.friend_note %>" />
      <button id="cancel" class="btn" type="button">Cancel</button>
      <button id="save" class="btn">Save</button>
    </form>
   </div>
<% include ./partials/footer %>
